.rows {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.rows:first-child {
  border-top-color: transparent;
}
.rows:last-child {
  border-bottom-color: transparent;
}

.box {
  font-size: 300%;
  height: 120px;
  width: 120px;
  padding: 20px;
  text-align: center;
  border-right: solid 2px black;
}
.box:last-child {
  border-right-color: transparent;
}

.turnBlock {
  font-size: 150%;
  text-align: center;
  padding: 10px;
}

.errorBlock {
  font-size: 125%;
  color: red;
  text-align: center;
  padding: 10px;
}

.winnerBlock {
  font-size: 150%;
  color: green;
  text-align: center;
  padding: 10px;
}

.buttonWrapper {
  text-align: center;
  margin-bottom: 15px;
}

