.empty {
  color: #b6b6b6;
  padding: 10px 15px;
}
:host ::ng-deep {
  .gux-row-sm {
    padding: 4px 1rem !important;
  }
  .gux-row-md {
    padding: .5rem 1rem !important;
  }
  .gux-row-lg {
    padding: 1rem 1rem !important;
  }
  .gux-row-xl {
    padding: 1.5rem 1rem !important;
  }
}