
<div class="banner">
  <p-messages key="gux-banner"></p-messages>
</div>
<p-toast
  key="gux-toast"
  life="3000"
></p-toast>

<!--
<gux-banner></gux-banner>
-->

<div class="content-wrapper">
  <span class="left">
    <div class="avatar-wrapper">
      <gux-avatar
        size="xlarge"
        shape="circle"
        image="../assets/images/jim.jpeg"
      ></gux-avatar>
    </div>
    
    <div class="button-wrapper">
      <gux-button
        icon="angle-double-right"
        isRounded="true"
        isRaised="true"
        pTooltip="Expand All"
        tooltipPosition="bottom"
        (click)="expandAll()"
        inlineStyle="margin-right:.5rem"
      ></gux-button>
      <gux-button
        isRounded="true"
        isRaised="true"
        icon="angle-double-up"
        pTooltip="Collapse All"
        tooltipPosition="bottom"
        (click)="collapseAll()"
      ></gux-button>
    </div>

    <p-tree
        class="navTree"
        [value]="navigation"
        selectionMode="single"
        (onNodeSelect)="nodeSelect($event)"
    ></p-tree>
  </span>

  <div class="right" style="overflow-y:auto">
    <div class="demo-header">
      <h1>Global UX Documentation and Demo Library</h1>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>