body {
    height: 100%;
    width: 100%;
}

.banner {
    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 1001;
    margin-left: -300px;
    width: 600px;
}


.minWidth {

}
.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-left: -10px;
    .left {
        background-color: #ffffff;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        box-shadow: -6px 10px 4px 8px #c8c8c8;
        .button-wrapper {
            margin: 35px;
            text-align: center;
        }
    }
    .right {
        width: calc(100% - #{300px});
        .demo-header {
            z-index: 1000;
            background-image: linear-gradient(197.37deg,rgba(0,120,227,.07) -.38%,rgba(165,72,181,0) 101.89%),linear-gradient(115.93deg,rgba(62,136,246,.15) 4.86%,rgba(62,180,246,.0495) 38.05%,rgba(62,235,246,0) 74.14%),radial-gradient(56.47% 76.87% at 6.92% 7.55%,rgba(62,136,246,.05) 0%,rgba(62,158,246,.013) 52.16%,rgba(62,246,246,0) 100%),linear-gradient(306.53deg,rgba(163,171,217,.1) 19.83%,rgba(163,171,217,0) 97.33%);
            margin-bottom: 0px;
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #dee2e6;
            h1 {
                color: #007bff;
                font-size: 40px;
                font-weight: 200;
                margin-top: 22px;
            }
        }
        .content {
            padding: 50px;
        }
    }
}

:host ::ng-deep .p-tree {
    border-color: transparent;
}

:host ::ng-deep .p-dropdown {
    width: auto;
    min-width: 300px;
}