.button-demo-container {
  border: 1px solid white;
  border-radius: 10px;
  .button-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px;
  }
}
